<section class="section">
  <div class="section-steps">
    <div class="step">
      <span class="step-icons step-icon-book"></span>
      <p> <b>Paso 1.</b> Completa el curso</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-heart"></span>
      <p> <b>Paso 2.</b> Toma fotos admirables</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-hand"></span>
      <p> <b>Paso 3.</b> Compártelas con orgullo en tus redes</p>
    </div>
  </div>

  <hr>

  <h3>¡Hola amigo viajero!</h3>
</section>
