@import '/styles/step-section.scss';

.step-icon-book {
  background: url('../../../../../assets/icons/paso1.png') center center no-repeat;
  background-size: 50% auto;
}

.step-icon-heart {
  background: url('../../../../../assets/icons/paso2.png') center center no-repeat;
  background-size: 50% auto;
}

.step-icon-hand {
  background: url('../../../../../assets/icons/paso3.png') center center no-repeat;
  background-size: 50% auto;
}
