@import '/src/styles.scss';

.content-cards {
  padding: 30px 40px 0px 40px;

  .card {
    width: 15%;
    margin-top: 25px;
  }

  ::ng-deep.p-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::ng-deep .p-card-body {
    max-width: 140px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
  }

  ::ng-deep .p-card {
    max-width: 310px;
    box-shadow: 1px -2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }

  ::ng-deep .p-card-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 15px;
    color: $color-blue;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1065px) {
  .content-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 750px;
    margin: 0 auto;
  }

  ::ng-deep .p-card {
    display: grid;
    max-width: 310px;
    min-height: 183px;
  }
}

@media only screen and (min-width: 1066px) {
  .content-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }

  ::ng-deep .p-card {
    display: grid;
    min-height: 183px;
  }
}

@media only screen and (min-width: 1234px) {
  ::ng-deep .p-card {
    max-width: 370px !important;
  }
}
