<section class="home">

  <div class="content-title">
    <div class="slider-text">
      <h3>
        Curso de fotografía
      </h3>
      <h3>
        <mark> para viajes </mark> con tu celular
      </h3>
      <p class="subtitle">
        Te enseñamos a tomar mejores fotos solo con tu celular, de forma práctica, sencilla y en menos de una hora.
      </p>
    </div>

    <div class="content-button button">
      <app-buy-button></app-buy-button>
      <p>CÓDIGO 30% OFF: INICIODEAÑO</p>
    </div>
  </div>
</section>
