<p-sidebar [(visible)]="visibleSidebar" position="right" styleClass="sidebar-menu" [baseZIndex]="10000"
  [dismissible]="true" (onHide)="handleCloseSidebar()">
  <ng-template pTemplate="content">
    <nav>
      <ul>
        <li>
          <div class="nav-logo"><img src="assets/images/logo_footer.png" alt="Logo"></div>
        </li>
        <ng-container *ngFor="let item of menu">
          <li>
            <a [href]="item.href" class="scroll">{{ item.title }}</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </ng-template>
</p-sidebar>
