<section class="home">

  <div class="content-title">
    <div class="slider-text">
      <h3 class="color-white">
        ¡HOLA AMIGO VIAJERO!
      </h3>
      <p class="subtitle">
        De seguro ya tienes listos tus tiquetes, ropa, maleta, hospedaje, itinerario, tours, reservas... Pero te falta un detalle muy importante: ¿Cómo vas a tomar buenas fotos y traer un gran recuerdo de los lugares que vas a visitar?
      </p>
      <p class="subtitle color-yellow">
        Antes de irte de viaje debes conocer los
      </p>
      <h3>
        7 TRUCOS PARA TOMAR MEJORES FOTOS
      </h3>
    </div>

    <div class="content-button">
      <app-buy-button class="app-button" [nameButton]="'CONOCER LOS 7 TRUCOS'" [classButton]="'class_blue'"></app-buy-button>
    </div>
  </div>
</section>
