<section class="home">

  <div class="content-title">
    <div class="slider-text">
      <h3 class="color-white">
        ¡HOLA AMIGO VIAJERO!
      </h3>
      <p class="subtitle color-blue">
        De seguro ya tienes listos tus tiquetes, ropa, maleta, hospedaje, itinerario, tours, reservas... Pero te falta un detalle muy importante:
        <span>¿Cómo vas a tomar buenas fotos y traer un gran recuerdo de los lugares que vas a visitar? </span>
      </p>
      <p class="subtitle color-yellow">
        <mark> Antes de irte de viaje debes conocer los </mark>
      </p>
      <h3 class="color-blue max-width">
        <span class="color-yellow">7 TRUCOS </span> PARA TOMAR MEJORES FOTOS
      </h3>
    </div>

    <div class="content-button">
      <app-buy-button class="app-button" [nameButton]="'CONOCER LOS 7 TRUCOS'" [classButton]="'class_blue_color_yellow'"></app-buy-button>
    </div>
  </div>
</section>
