<section class="buy-content">
  <div class="icon-image">
    <img src="assets/images/CELCAM.png" alt="Logo Cel cam" />
  </div>

  <div class="text">
    <p>Despues de conocer esta guía de</p>
    <p>5 TRUCOS vas a aprender cómo</p>
    <p>mejorar tus fotos y traer un gran</p>
    <p>recuerdo de los lugares que visites</p>
  </div>

  <div class="button margin">
    <app-buy-button class="app-button" classButton="class_blue" nameButton="Conocer los 5 trucos"></app-buy-button>
  </div>
</section>
