@import '/src/styles.scss';

.buy-button {
  display: flex;
  justify-content: center;

  a {
    justify-content: center;
    min-width: 300px;
    height: 40px;
    align-self: center;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
  }
}

.class_yellow {
  background: $color-yellow;
    color: $color-blue;
}

.class_blue {
  background: $color-blue;
  color: #fff;
}

.class_blue_color_yellow {
  background: $color-blue;
  color: $color-yellow;
}
