<section class="container-info">
  <div class="info">
    <h3>¿Has llegado de un viaje inconforme con las fotos que tomaste?</h3>
    <p>
      Nada más frustrante que conocer lugares hermosos y no quedar con un buen
      recuerdo.
    </p>
    <p class="margin">Cuando no conoces estos 5 trucos:</p>

    <ul>
      <li>Revisas tu galería de fotos y no encuentras una que te enamore.</li>
      <li>Tienes que tomar 100 fotos para a duras penas poder elegir una.</li>
      <li>
        Te toca pasar la pena de pedirle ayuda a un desconocido que para colmo
        no toma la foto que esperabas.
      </li>
      <li>O sueles discutir con tu pareja porque no te toma buenas fotos.</li>
    </ul>

    <app-buy-button
      class="app-button"
      classButton="class_yellow"
      nameButton="Conocer los 5 trucos"
    ></app-buy-button>
  </div>
</section>
