<section class="container-info">
  <div class="info">
    <h3>¿Has llegado de un viaje inconforme con las fotos que tomaste?</h3>
    <p>
      Nada más frustrante que conocer lugares hermosos y no quedar con un buen
      recuerdo.
    </p>
    <p class="margin">Cuando no saber tomar buenas fotos:</p>

    <ul>
      <li>Tomas la típica selfie que no abarcó todo el panorama.</li>
      <li>Tienes que tomar 100 fotos para a duras penas poder elegir 1.</li>
      <li>Quieres publicar una foto pero no encuentras algo que te enamore.</li>
      <li class="mb-0">
        Ves a otras personas que estuvieron en el mismo lugar y sí tomaron fotos
        admirables.
      </li>
    </ul>

    <p class="margin">Y además:</p>

    <ul>
      <li>
        Te toca pasar la pena de pedirle ayuda a un desconocido que para colmo
        no toma la foto que esperabas.
      </li>
      <li class="mb-0">O sueles discutir con tu pareja porque no te toma buenas fotos.</li>
    </ul>

    <p class="margin">Queremos decirte: No dependas de nadie. ¡Aprende tú mismo a hacerlo!</p>
  </div>
</section>
