<section>
  <div class="content-paragraph">
    <div>Este curso hace parte de los productos de "VILEAN" nuestra marca que tiene como propósito impulsar a las personas a cumplir sus sueños partiendo de los viajes como herramienta para desbloquear su mente.</div>
    <div>Si vamos a viajar, mejor que traigamos un buen recuerdo y para eso es este grandioso curso.</div>
    <div>No desperdicies la oportunidad de aprender en solo 1 hora cómo tomar fotos admirables en tu próximo viaje... </div>
    <app-buy-button></app-buy-button>
  </div>
</section>
