<app-main-section></app-main-section>
<app-steps-section></app-steps-section>

<div class="container-info" id="video">
  <app-video class="app-video"></app-video>
  <app-info-buy-section class="movil"></app-info-buy-section>
  <app-info-fotos class="app-info" id="benefits"></app-info-fotos>
</div>

<app-info-buy-section class="desktop"></app-info-buy-section>
<app-text-info-buy></app-text-info-buy>

<app-buy-section class="app-buy"></app-buy-section>
<app-carousel-section class="app-carousel" id="coursel"></app-carousel-section>

<div class="container-carousel"></div>

<app-course-content-section id="content-course"></app-course-content-section>
<app-cards></app-cards>
<div class="mockup-summary">
  <app-mockup-section id="mockup"></app-mockup-section>
  <app-travel-kit id="travel-kit"></app-travel-kit>
</div>
