<app-main-section></app-main-section>
<app-steps-section></app-steps-section>

<div class="container-info">
  <app-video class="app-video"></app-video>
  <app-info-buy-section class="movil"></app-info-buy-section>
  <app-info-fotos class="app-info"></app-info-fotos>
</div>

<app-info-buy-section class="desktop"></app-info-buy-section>

<div class="container-carousel">
  <app-buy-section class="app-buy"></app-buy-section>
  <app-carousel-section class="app-carousel"></app-carousel-section>
</div>

<app-course-content-section></app-course-content-section>
<app-cards></app-cards>
<div class="mockup-summary">
  <app-mockup-section></app-mockup-section>
  <app-summary-section></app-summary-section>
</div>
