<section>
  <div class="content-paragraph">
    <div>Esta guía gratuita es creada por "VILEAN" nuestra marca que tiene como propósito impulsar a las personas a cumplir sus sueños partiendo de los viajes como herramienta para desbloquear su mente.</div>
    <div>Si vamos a viajar, mejor que traigamos un buen recuerdo y para eso es esta grandiosa guía.</div>
    <div>No desperdicies la oportunidad de aprender los 7 trucos para tomar mejores fotos solo con tu celular...</div>
    <app-buy-button class="app-button" [nameButton]="'CONOCER LOS 7 TRUCOS'" [classButton]="'class_blue_color_yellow'"></app-buy-button>
  </div>
</section>
