@import '/src/styles.scss';

section {
  background-color: $color-blue;
}

.content-paragraph {
  padding: 40px 35px;

  div {
    font-size: 15px;
    color: white;
  }

}

.content-paragraph div:first-child {
  margin-bottom: 20px;
}
