<section class="content-footer">
  <div class="footer">
    <div class="margin content-logo">
      <div class="logo-footer"></div>
    </div>
    <div class="margin padding-title">
      <h6>Whatsapp</h6>
      <p class="list-social"><a  target="_blank">+57 301 238 3045</a>
      </p>
    </div>
    <div class="margin padding-title">
      <h6>Instagram</h6>
      <p class="list-social"><a target="_blank">@leoleor14</a><br />
        @angiraldom</p>
    </div>
    <div class="margin">
      <p><i class="icon-footer"></i><a title="">vileanrg@gmail.com</a></p>
    </div>
  </div>
</section>
<section class="footer-bottom">
  <div class="container">
    <div class="sixteen columns">
      <p>© TODOS LOS DERECHOS RESERVADOS. VILEAN 2022</p>
    </div>
  </div>
</section>
