@import '/src/styles.scss';

.content-footer {
  background: $color-blue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer{
	color:#f0f0f0;
  text-align:center;
}

h6 {
  color: $color-yellow;
  text-align: center;
  text-transform:uppercase;
}

p {
  text-align: center;
  color: #fff;
  font-weight:400;
  line-height:22px;
}

.logo-footer{
  position: relative;
  width: 160px;
  height: 65px;
  background: url(/assets/images/logo.png) no-repeat center center;
  background-size: 155px 58px;
  z-index: 10;
  margin: 0 auto;
}
.icon-footer{
	font-size:16px;
	line-height: 22px;
	text-align:center;
	z-index:6;
	padding-right:6px;
}
.social-bottom{
	position:relative;
	width:100%;
	z-index:12;
	height:25px;
	margin-bottom:15px;
}
.list-social li {
    padding:0;
    list-style: none;
	text-align:center;
	width:25px;
    display: inline-block;
	cursor:pointer;
}
.list-social li.icon-soc span {
	font-size: 12px;
	line-height: 25px;
	width:25px;
	opacity:1;
	margin:0;
	padding:0;
}

.footer-bottom{
	padding-top:10px;
	padding-bottom:10px;
  background: $color-blue;
}
.footer-bottom p{
	letter-spacing:2px;
	font-size: 10px;
	line-height:18px;
}

.container {
  max-width: 305px;
  margin: 0 auto;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-logo {
  padding-bottom: 35px;
}

.padding-title {
  padding-bottom: 20px;
}
