<app-second-main-section></app-second-main-section>
<app-second-section-steps></app-second-section-steps>

<div class="container-info">
  <app-second-video class="app-video"></app-second-video>
  <app-second-info-buy-section class="movil"></app-second-info-buy-section>
  <app-second-info-fotos class="app-info"></app-second-info-fotos>
</div>

<app-second-info-buy-section class="desktop"></app-second-info-buy-section>

<div class="container-summary">
  <app-second-buy-section class="app-buy"></app-second-buy-section>
  <app-second-section-summary class="app-summary"></app-second-section-summary>
</div>
<app-form-info></app-form-info>
