@import "/src/styles.scss";

.container-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.desktop {
  display: none;
}

.container-summary {
  display: flex;
  flex-direction: column;
}

.container-curso {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .movil {
    display: none;
  }

  .desktop {
    display: block;
  }

  .container-info {
    flex-direction: row;
    background-color: $color-blue;
    padding: 20px 80px 0px 80px;
  }

  .app-video {
    width: 50%;
    margin-right: 30px;
  }

  .app-info {
    width: 40%;
  }

  .container-curso {
    flex-direction: row;

    .app-summary {
      width: 50%;
    }

    .app-form-info {
      width: 50%;
    }
  }
}
