<app-second-main-section></app-second-main-section>
<app-second-section-steps></app-second-section-steps>

<div class="container-info" id="introduccion">
  <app-second-video class="app-video"></app-second-video>
  <app-second-info-buy-section class="movil"></app-second-info-buy-section>
  <app-second-info-fotos class="app-info"></app-second-info-fotos>
</div>

<app-second-info-buy-section class="desktop"></app-second-info-buy-section>
<app-second-buy-section class="app-buy"></app-second-buy-section>

<div class="container-curso">
  <app-second-section-summary class="app-summary" id="summary"></app-second-section-summary>
  <app-form-info class="app-form-info" id="form"></app-form-info>
</div>

<app-info-curso-completo></app-info-curso-completo>
