@import "/styles/info-buy-section.scss";

.app-button ::ng-deep.buy-button a {
  width: 290px !important;
}

@media screen and (min-width: 800px) {
  .app-button {
    display: none;
  }

  .info-comprar {
    padding-top: 0px;
  }

  .desktop {
    display: block;
  }

  .movil {
    display: none;
  }
}
