@import '/styles/step-section.scss';

.step-icon-book {
  background: url('../../../../../assets/icons/paso1.1.png') center center no-repeat;
  background-size: 50% auto;
}

.step-icon-heart {
  background: url('../../../../../assets/icons/paso2.2.png') center center no-repeat;
  background-size: 50% auto;
}

.step-icon-hand {
  background: url('../../../../../assets/icons/paso3.3.png') center center no-repeat;
  background-size: 50% auto;
}

@media only screen and (min-width: 768px) {
  .section-steps .step:first-child p{
    max-width: 140px;
  }
}
