<section class="section">
  <div class="section-steps">
    <div class="step">
      <span class="step-icons step-icon-book"></span>
      <p> <b>Paso 1.</b> Conoce los 7 trucos</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-heart"></span>
      <p> <b>Paso 2.</b> Aplica lo aprendido en tu próximo viaje</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-hand"></span>
      <p> <b>Paso 3.</b> Toma mejores fotos solo con tu celular</p>
    </div>
  </div>

  <hr>

  <h3>Mira esto...</h3>
</section>
