@import '/src/styles.scss';

section {
  padding: 40px 30px;
  text-align: center;

  hr {
    margin: 50px 25px;
  }
}

section p:nth-child(3) {
  max-width: 200px;
  margin: 0 auto;
}

.buy-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  a {
    justify-content: center;
    width: 261px;
    height: 40px;
    align-self: center;
    border-radius: 25px;
    border: 2px solid #6D6E71;
    color: #6d6e71;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
  }


}

@media only screen and (min-width: 800px) {
  .buy-button {
    width: 390px;

    a {
      width: 100%;
    }
  }
}

.color-blue {
  color: $color-blue;
}
