$color-blue: #222E5E;
$color-yellow: #FAD030;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0 !important;
}

a {
  text-decoration-line: unset !important;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

h3 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  line-height: 20px;
  font-weight: 700;
}

p, li {
  font-size: 15px;
}
