@import "/src/styles.scss";

h3 {
  color: $color-blue;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  color: gray;
}

ul {
  padding-left: 15px;
  list-style: none;
}

li::before {
  content: "\2022";
  color: $color-blue;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
    color: grey;
}

.container-info {
    display: flex;
    justify-content: center;
    padding: 30px 31px 20px 50px;
}

.info {
  padding-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

.margin {
  padding: 20px 0px 15px 0px;
}

.mb-0 {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .app-button {
    display: block;
  }

  .container-info {
    padding: 0;
    padding-right: 50px;
    justify-content: flex-start;

  }

  p, li, li::before {
    color: white;
  }

  h3 {
    color: $color-yellow;
    text-align: start;
  }
}
