@import '/src/styles.scss';

.section {
  background-color: $color-blue;
  color: #fff;
}

.section-steps {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1055px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px;
  width: 80%;
  max-width: 291px;
}

.step p {
  line-height: 15px;
}

.section-steps .step b {
  font-weight: bold;
}

.step-icons {
  display: block;
  width: 50px;
  height: 50px;
  min-width: 51px;
}

h3 {
  text-align: center;
}

hr {
  width: 80%;
  margin: 0 auto;
}
