@import '/src/styles.scss';

section {
  background-color: $color-blue;
}

.content {
  padding: 40px 20px;

  div {
    margin-bottom: 30px;
  }
}

img {
  width: 100%;
}

app-buy-button {
  display: flex;
  justify-content: center;
}

p {
  color: white;
}

.content-paragraph {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    color: white;
    text-align: center;
  }
}

@media only screen and (min-width: 675px) {
  .content-image-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .content-image-paragraph div:first-child {
    max-width: 347px
  }

  .content-paragraph {
    max-width: 397px;
  }
}
