<section>
  <div class="content">
    <div class="content-image-paragraph">
      <div>
        <img src="assets/images/mockup.jpg" alt="mockup">
      </div>

      <div class="content-paragraph">
        <p>Este curso pertenece a <b>VILEAN</b>,
          que tiene <b>como propósito</b>
          impulsar a las personas a cumplir
          sus sueños partiendo de los viajes
          como herramienta para desbloquear
          su mente.</p>

        <p>Aprovecha esta oportunidad de
          aprender en solo hora cómo tomar
          fotos admirables en tu próximo
          viaje...</p>
      </div>
    </div>

    <div class="button">
      <app-buy-button></app-buy-button>
      <p>CÓDIGO 30% OFF: INICIODEAÑO</p>
    </div>
  </div>
</section>
