<div class="container-text">
  <p class="max">LO MEJOR DE TODO ES QUE:</p>
  <p class="text">No tienes que ser un</p>
  <p class="text">experto manejando el</p>
  <p class="text">celular ni tener experiencia</p>
  <p class="text">en fotografía</p>
</div>

<div class="container-text-desktop">
  <p class="max">LO MEJOR DE TODO ES QUE:</p>
  <div class="content">
    <p class="text">No tienes que ser un experto manejando el</p>
    <p class="text">celular ni tener experiencia en fotografía.</p>
  </div>
</div>
